<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Purchases</title>

    <%- include('../partials/core-style.ejs') %>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('../partials/sidebar.ejs') %>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <%- include('../partials/topbar.ejs') %>

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-3">
                                <h1 class="h3 mb-0 text-gray-800">Purchases</h1>
                            </div>

                            <div class="card mb-4">
                                <div class="card-header d-flex">
                                    <h1>
                                        Transaction
                                    </h1>
                                </div>
                                <form method="post" action="/purchases/edit/<%= purchase.invoice %>">

                                    <div class="card-body">
                                        <div class="form-row mb-5">
                                            <div class="col-md-4">
                                                <label for="invoice">Invoice</label>
                                                <input type="text" class="form-control" id="invoice" name="invoice"
                                                    value="<%= purchase?.invoice %>" readonly>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="time">Time</label>
                                                <input type="text" class="form-control" id="time" name="time"
                                                    value="<%= currentDateTime %>" readonly>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Operator</label>
                                                <select name="operator" class="form-control" disabled>
                                                    <option value="<%= purchase.operator %>">
                                                        <%= purchase.User.name %>
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <hr class="mb-5">

                                        <div class="form-row align-items-end mb-4">
                                            <div class="col-md-4">
                                                <label>Goods Barcode</label>
                                                <select class="form-control" id="barcodeSelect">
                                                    <% goods.forEach(good=> { %>
                                                        <option value="<%= good.barcode %>">
                                                            <%= good.barcode %> - <%= good.name %>
                                                        </option>
                                                        <% }); %>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Goods Name</label>
                                                <input type="text" id="goodName" class="form-control" readonly>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Stock</label>
                                                <input type="text" id="stock" class="form-control" readonly>
                                            </div>
                                        </div>

                                        <div class="form-row align-items-end mb-3">
                                            <div class="col-md-4">
                                                <label>Purchase Price</label>
                                                <input type="text" id="purchasePrice" class="form-control" readonly>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Qty</label>
                                                <input type="number" id="qty" class="form-control" min="1">
                                            </div>
                                            <div class="col-md-4">
                                                <label>Total Price</label>
                                                <input type="text" id="totalPrice" class="form-control" readonly>
                                            </div>
                                        </div>

                                        <button type="button" id="addItemBtn" class="btn btn-icon-split btn-primary"
                                            onclick="addItem()">
                                            <span class="icon text-white-50">
                                                <i class="fa fa-plus"></i>
                                            </span>
                                            <span class="text">Add</span>
                                        </button>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-striped mt-3">
                                            <thead class="">
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Barcode</th>
                                                    <th>Name</th>
                                                    <th>Qty</th>
                                                    <th>Price</th>
                                                    <th>Total Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (purchase.PurchaseItems && purchase.PurchaseItems.length> 0) { %>
                                                    <% purchase.PurchaseItems.forEach((item, index)=> { %>
                                                        <tr>
                                                            <td>
                                                                <%= index + 1 %>
                                                            </td>
                                                            <td>
                                                                <%= item.itemcode %>
                                                            </td>
                                                            <td>
                                                                <%= item.Good?.name || '' %>
                                                            </td>
                                                            <td>
                                                                <%= item.quantity %>
                                                            </td>
                                                            <td>
                                                                <%= Number(item.purchaseprice).toLocaleString('id-ID', {
                                                                    style: 'currency' , currency: 'IDR' }) %>
                                                            </td>
                                                            <td>
                                                                <%= Number(item.totalprice).toLocaleString('id-ID', {
                                                                    style: 'currency' , currency: 'IDR' }) %>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-circle btn-danger" type="button"
                                                                    data-toggle="modal" data-target="#deleteModal"
                                                                    data-id="<%= item.id %>">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                            <% } else { %>
                                                                <tr>
                                                                    <td colspan="6" class="text-center">no items</td>
                                                                </tr>
                                                                <% } %>
                                            </tbody>

                                        </table>
                                    </div>

                                    <div class="card-footer">
                                        <div class="row mb-3">
                                            <label for="totalsum" class="col-sm-2 col-form-label">Total
                                                Summary</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" id="totalsum" name="totalsum"
                                                    value="<%= totalsum %>" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="supplierSelect" class="col-sm-2 col-form-label">Supplier</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" id="supplierSelect" name="supplier">
                                                    <% suppliers.forEach(supplier=> { %>
                                                        <option value="<%= supplier.supplierid %>"
                                                            <%=purchase?.supplier==supplier.supplierid ? 'selected' : ''
                                                            %>>
                                                            <%= supplier.name %>
                                                        </option>
                                                        <% }); %>
                                                </select>

                                            </div>
                                        </div>

                                        <button type="button" onclick="submitPurchase()"
                                            class="btn btn-icon-split btn-success">
                                            <span class="icon text-white-50">
                                                <i class="fa fa-plus"></i>
                                            </span>
                                            <span class="text">Finish</span>
                                        </button>
                                        <a href="/purchases" role="button" class="btn btn-icon-split btn-warning">
                                            <span class="icon text-white-50">
                                                <i class="fa fa-arrow-left"></i>
                                            </span>
                                            <span class="text">Back</span>
                                        </a>
                                    </div>

                                </form>
                            </div>


                        </div>

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <%- include('../partials/logout-modal.ejs') %>

                <%- include('../partials/delete-modal.ejs') %>

                    <%- include('../partials/core-scripts.ejs') %>

                        <script>
                            $('#deleteModal').on('show.bs.modal', function (event) {
                                const button = $(event.relatedTarget);
                                const id = button.data('id');
                                $('#deleteForm').attr('action', `/purchases/delete/${id}/item`);
                            });
                        </script>


                        <script type="application/json" id="goods-data">
                        <%- JSON.stringify(goods) %>
                    </script>

                        <script>
                            const goodsData = JSON.parse(document.getElementById('goods-data').textContent);

                            const barcodeSelect = document.getElementById('barcodeSelect')
                            const goodNameInput = document.getElementById('goodName')
                            const stockInput = document.getElementById('stock')
                            const purchasePriceInput = document.getElementById('purchasePrice')
                            const quantityInput = document.getElementById('qty')
                            const totalPriceInput = document.getElementById('totalPrice');

                            let selectedGood = null

                            console.log('Goods Data:', goodsData)

                            barcodeSelect.addEventListener('change', function () {
                                const selectedBarcode = this.value;
                                const selectedGood = goodsData.find(g => g.barcode === selectedBarcode);
                                console.log('Selected Good:', selectedGood);

                                if (selectedGood) {
                                    goodNameInput.value = selectedGood.name;
                                    stockInput.value = selectedGood.stock;
                                    purchasePriceInput.value = selectedGood.purchaseprice;
                                    calculateTotal()
                                } else {
                                    goodNameInput.value = '';
                                    stockInput.value = '';
                                    purchasePriceInput.value = '';
                                }
                            });

                            quantityInput.addEventListener('input', calculateTotal)

                            function calculateTotal() {
                                const price = parseFloat(purchasePriceInput.value)
                                const qty = parseFloat(quantityInput.value)

                                if (!isNaN(price) && !isNaN(qty)) {
                                    const total = price * qty;
                                    totalPriceInput.value = total.toLocaleString('id-ID', {
                                        style: 'currency',
                                        currency: 'IDR'
                                    });
                                } else {
                                    totalPriceInput.value = '';
                                }
                            }



                            barcodeSelect.dispatchEvent(new Event('change'));

                            // Handle add item

                            function addItem() {
                                const invoice = document.getElementById('invoice').value;
                                const itemcode = barcodeSelect.value;
                                const quantity = parseInt(quantityInput.value);
                                const purchaseprice = parseFloat(purchasePriceInput.value);
                                const totalprice = purchaseprice * quantity;

                                if (!itemcode || !quantity || quantity <= 0 || isNaN(totalprice)) {
                                    alert('Isi data item dengan benar.');
                                    return;
                                }

                                const body = new URLSearchParams();
                                body.append('itemcode', itemcode);
                                body.append('quantity', quantity);
                                body.append('purchaseprice', purchaseprice);
                                body.append('totalprice', totalprice);

                                fetch(`/purchases/edit/${invoice}/item`, {
                                    method: 'POST',
                                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                    body: body.toString()
                                })
                                    .then(res => {
                                        if (!res.ok) {
                                            return res.json().then(err => { throw new Error(err.error); });
                                        }
                                        return res.json();
                                    })
                                    .then(item => {
                                        const tbody = document.querySelector('table tbody');
                                        if (tbody.querySelector('td.text-center')) {
                                            tbody.innerHTML = '';
                                        }

                                        const tr = document.createElement('tr');
                                        const rowCount = tbody.rows.length + 1;
                                        tr.innerHTML = `
                <td>${rowCount}</td>
                <td>${item.itemcode}</td>
                <td>${goodNameInput.value}</td>
                <td>${item.quantity}</td>
                <td>${Number(item.purchaseprice).toLocaleString('id-ID', { style: 'currency', currency: 'IDR' })}</td>
                <td>${Number(item.totalprice).toLocaleString('id-ID', { style: 'currency', currency: 'IDR' })}</td>
                <td>
                    <button class="btn btn-circle btn-danger" type="button"
                        data-toggle="modal" data-target="#deleteModal"
                        data-id="${item.id}">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            `;
                                        tbody.appendChild(tr);

                                        const totalSumInput = document.getElementById('totalsum');
                                        const currentTotal = parseFloat(totalSumInput.value) || 0;
                                        totalSumInput.value = currentTotal + totalprice;

                                        quantityInput.value = '';
                                        totalPriceInput.value = '';
                                    })
                                    .catch(err => {
                                        alert('Gagal tambah item: ' + err.message);
                                    });
                            }

                            // Handle edit purchase

                            function submitPurchase() {
                                const invoice = document.getElementById('invoice').value;
                                const time = document.getElementById('time').value
                                const supplier = document.getElementById('supplierSelect').value;
                                const totalsum = parseFloat(document.getElementById('totalsum').value);

                                console.log('Supplier:', supplier);
                                console.log('Type:', typeof supplier);


                                if (!supplier) {
                                    alert('Supplier harus diisi.');
                                    return;
                                }

                                const body = new URLSearchParams();
                                body.append('time', time);
                                body.append('supplier', supplier);
                                body.append('totalsum', totalsum);

                                fetch(`/purchases/edit/${invoice}`, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/x-www-form-urlencoded'
                                    },
                                    body: body.toString()
                                })
                                    .then(res => {
                                        if (!res.ok) throw new Error('Gagal menyimpan transaksi.');
                                        return res.text();
                                    })
                                    .then(() => {
                                        window.location.href = '/purchases';
                                    })
                                    .catch(err => {
                                        alert('Error: ' + err.message);
                                    });
                            }

                        </script>

</body>

</html>