<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard</title>

  <%- include('../partials/core-style.ejs') %>

    <script>
      let data = JSON.parse('<%= data %>')

      const dataLabels = <%- labels %>
      const dataEarnings = <%- earningsData %>

        console.log('hasil: ', dataLabels, dataEarnings)
    </script>

    <script src="/javascripts/demo/chart-pie-demo.js"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('../partials/sidebar.ejs') %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <%- include('../partials/topbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">

              <!-- Page Heading -->
              <div class="d-sm-flex align-items-start justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</button>
              </div>

              <form>
                <div class="card mb-4">
                  <div class="card-header">
                    <strong class="text-primary">
                      Date Setting
                    </strong>
                  </div>
                  <div class="card-body mb-3">
                    <div class="row">
                      <div class="col">
                        <label for="startdate">Start Date</label>
                        <input type="date" class="form-control" id="startdate" name="startdate">
                      </div>
                      <div class="col">
                        <label for="enddate">End Date</label>
                        <input type="date" class="form-control" id="enddate" name="enddate">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-icon-split btn-success">
                      <span class="icon text-white-50">
                        <i class="fa fa-check"></i>
                      </span>
                      <span class="text">Query</span>
                    </button>
                    <button type="button" class="btn btn-icon-split btn-warning">
                      <span class="icon text-white-50">
                        <i class="fa fa-arrow-left"></i>
                      </span>
                      <span class="text">Reset</span>
                    </button>
                  </div>
                </div>
              </form>

              <div class="row">
                <!-- Purchases -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Purchases</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">Rp <%=
                              totalPurchase.toLocaleString('id-ID') %>
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Sales -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Sales</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">Rp <%= totalSales.toLocaleString('id-ID')
                              %>
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Earnings -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Earnings</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">Rp <%= earnings.toLocaleString('id-ID') %>
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-money-bill-wave fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Total Sales -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Sales</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <%= countSales %>
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                      <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                          aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="chart-area">
                        <div class="chartjs-size-monitor">
                          <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                          </div>
                          <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                          </div>
                        </div>
                        <canvas id="myAreaChart" width="688" height="320"
                          style="display: block; width: 688px; height: 320px;" class="chartjs-render-monitor"></canvas>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                      <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                          aria-labelledby="dropdownMenuLink" style="">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="chart-pie pt-4 pb-2">
                        <div class="chartjs-size-monitor">
                          <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                          </div>
                          <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                          </div>
                        </div>
                        <canvas id="myPieChart" width="311" height="245"
                          style="display: block; width: 311px; height: 245px;" class="chartjs-render-monitor"></canvas>
                      </div>
                      <div class="mt-4 text-center small">
                        <span class="mr-2">
                          <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                          <i class="fas fa-circle text-success"></i> Customer
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="card mb-4">
                <div class="card-header d-flex">
                  <h6 class="m-0 font-weight-bold text-primary">Earnings Monthly Report</h6>
                </div>
                <div class="card-body">
                  <div>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Bulan</th>
                          <th>Expense</th>
                          <th>Revenue</th>
                          <th>Earning</th>
                        </tr>
                      </thead>
                      <tbody>

                        <% dataTable.forEach(row=> { %>
                          <tr>
                            <td>
                              <%= row.label %>
                            </td>
                            <td>
                              <%= Number(row.expense).toLocaleString() %>
                            </td>
                            <td>
                              <%= Number(row.revenue).toLocaleString() %>
                            </td>
                            <td style="color: <%= row.earning < 0 ? 'red' : 'green' %>">
                              <%= Number(row.earning).toLocaleString() %>
                            </td>
                          </tr>
                          <% }) %>

                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Bulan</th>
                          <th>Expense</th>
                          <th>Revenue</th>
                          <th>Earning</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>

            </div>

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <%- include('../partials/logout-modal.ejs') %>

        <%- include('../partials/core-scripts.ejs') %>

</body>

</html>